.nav-bar-button-instance {
    background-color: #b07c0c !important;
    gap: 10.5px !important;
    padding: 10.5px !important;
    width: 115.53px !important;
  }
  
  .design-component-instance-node {
    margin-bottom: -2.45px !important;
    margin-top: -4.55px !important;
  }